p {
	color: #fff;
	background-color: #cc0c25;
}

/** {
	box-sizing:border-box;
}*/

#wrapper {
	display:grid;
	grid-template-columns: repeat(auto-fill,100px); /*the height of inner divs is auto-filled to fit the enclosing content in this case;
	if the inner divs contain no content, then the height of the inner divs would be zero*/
}

.inner {
	border:1px solid black;
	border-radius:5px;
	background-color:#d9480f;
	margin:10px;
	text-align:center;
}